<!-- Modal -->
<div
  class="modal fade"
  id="Cabeza"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="CabezaLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CabezaLabel">Cabeza</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="p-3">
        <div class="modal-body">
          <div class="row">
            <div class="col-6 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Craneo y Cara"
                  id="floatingTextarea"
                  name="creneo_y_cara"
                ></textarea>
                <label for="floatingTextarea">Craneo y Cara</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Cuero Cabelludo "
                  id="floatingTextarea"
                  name="cuero_cabelludo"
                ></textarea>
                <label for="floatingTextarea"> Cuero Cabelludo</label>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Región Frontal"
                  id="floatingTextarea"
                  name="region_frontal"
                ></textarea>
                <label for="floatingTextarea">Región Frontal</label>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Región Obitonasal"
                  id="floatingTextarea"
                  name="region_obitonasal"
                ></textarea>
                <label for="floatingTextarea">Región Obitonasal</label>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder=" Región Orinfarengea"
                  id="floatingTextarea"
                  name="region_orinfarengea"
                ></textarea>
                <label for="floatingTextarea">Región Orinfarengea </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="button" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
