<div class="row">
  <div class="col-6 mb-3">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Dolor Profunda"
        id="floatingTextarea"
        name="dolor_profunda"
      ></textarea>
      <label for="floatingTextarea">Dolor Profunda</label>
    </div>
  </div>
  <div class="col-6 mb-3">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Vibratoria"
        id="floatingTextarea"
        name="vibratoria"
      ></textarea>
      <label for="floatingTextarea">Vibratoria</label>
    </div>
  </div>
</div>
