<div class="row">
  <div class="col-4 mb-3">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Tactil"
        id="floatingTextarea"
        name="tactil"
      ></textarea>
      <label for="floatingTextarea">Tactil</label>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Dolorosa"
        id="floatingTextarea"
        name="dolorosa"
      ></textarea>
      <label for="floatingTextarea">Dolorosa</label>
    </div>
  </div>
  <div class="col-4 mb-3">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Termica"
        id="floatingTextarea"
        name="termica"
      ></textarea>
      <label for="floatingTextarea">Termica</label>
    </div>
  </div>
</div>
