<!-- Modal -->
<div
  class="modal fade modal-dialog-scrollable"
  id="HabitosToxicos"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="HabitosToxicosLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="HabitosToxicosLabel">
          Habitos Toxicos
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="p-3">
        <div class="modal-body">
          <div class="row">
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="alcohol"
                  placeholder="Alcohol"
                  aria-label="Alcohol"
                  name="alcohol"
                />
                <label for="alcohol">Alcohol</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="Tabaco"
                  placeholder="Tabaco"
                  aria-label="Tabaco"
                  name="tabaco"
                />
                <label for="Tabaco">Tabaco</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="drogas"
                  placeholder="Drogas"
                  aria-label="Drogas"
                  name="drogas"
                />
                <label for="drogas">Drogas</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="infuciones"
                  placeholder="Infuciones"
                  aria-label="Infuciones"
                  name="infusiones"
                />
                <label for="infuciones">Infuciones</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
