
<div class="container p-5">
  <div class="row">
    <div class="col-4">
      <div class="alert alert-success altura-alert-dashboard">
        <h5 class="fw-bolder text-white">
          Hey! estas son las citas cumplidas.
        </h5>
        <h4 class="text-white">
          <i class="fa-regular fa-calendar-check fa-xl"></i> Total 30
        </h4>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-primary altura-alert-dashboard">
        <h5 class="fw-bolder text-white">Estas son las citas solicitadas.</h5>
        <h4 class="text-white">
          <i class="fa-regular fa-calendar fa-xl"></i> Total 20
        </h4>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-info altura-alert-dashboard">
        <h5 class="fw-bolder text-white">Estos son tus pacientes.</h5>
        <h4 class="text-white">
          <i class="fa-solid fa-users fa-xl"></i> Total 20
        </h4>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h5 class="centrar fw-bolder">Solicitudes de Citas</h5>
        <hr />
        <div class="list-group">
          <a
            href="#"
            class="list-group-item list-group-item-action bg-info active"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Jesus Gonzalez</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Solicita una cita.</p>
            <small><i class="fa-regular fa-calendar fa-lg"></i></small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">José Gomez</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Solicita una cita.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Luisa Lopez</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Solicita una cita.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
        </div>
      </div>
      <div class="col-6">
        <h5 class="centrar fw-bolder">Ultimas Consultas</h5>
        <hr />
        <div class="list-group">
          <a
            href="#"
            class="list-group-item list-group-item-action active bg-dark"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

