<!-- Modal -->
<div
  class="modal fade modal-dialog-scrollable"
  id="HabitosFisiologicos"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="HabitosFisiologicosLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="HabitosFisiologicosLabel">
          Habitos Fisiologicos
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="alimentacion"
                  placeholder="Alimentación"
                  aria-label="Alimentación"
                  name="alimentacion"
                />
                <label for="alimentacion">Alimentación</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="diuresis"
                  placeholder="Diuresis"
                  aria-label="Diuresis"
                  name="diuresis"
                />
                <label for="diuresis">Diuresis</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="catarsis"
                  placeholder="Catarsis"
                  aria-label="Catarsis"
                  name="catarsis"
                />
                <label for="catarsis">Catarsis</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="sueño"
                  placeholder="Sueño"
                  aria-label="Sueño"
                  name="sueño"
                />
                <label for="sueño">Sueño</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="sexualidad"
                  placeholder="Sexualidad"
                  aria-label="Sexualidad"
                  name="sexualidad"
                />
                <label for="sexualidad">Sexualidad</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="otros"
                  placeholder="Otros"
                  aria-label="Otros"
                  name="otros"
                />
                <label for="otros">Otros</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
