<div class="row">
  <div class="col-3 mb-3">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="e"
        placeholder="E"
        aria-label="E"
      />
      <label for="e">E</label>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="p"
        placeholder="P"
        aria-label="P"
      />
      <label for="p">P</label>
    </div>
  </div>
  <div class="col-3">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="c"
        placeholder="C"
        aria-label="C"
      />
      <label for="c">C</label>
    </div>
  </div>
  <div class="col-3">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="a"
        placeholder="A"
        aria-label="A"
      />
      <label for="a">A</label>
    </div>
  </div>
  <div class="col-6 mb-3">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="mac"
        placeholder="MAC"
        aria-label="MAC"
      />
      <label for="mac">MAC</label>
    </div>
  </div>
  <div class="col-6 mb-3">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="fum"
        placeholder="FUM"
        aria-label="FUM"
      />
      <label for="fum">FUM</label>
    </div>
  </div>
  <div class="col-6 mb-3">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="menarca"
        placeholder="Menarca"
        aria-label="Menarca"
      />
      <label for="menarca">Menarca</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating">
      <input
        class="form-control form-control-sm"
        type="text"
        id="menopausia"
        placeholder="Menopausia"
        aria-label="Menopausia"
      />
      <label for="menopausia">Menopausia</label>
    </div>
  </div>
</div>
