<!-- Modal -->
<div
  class="modal fade modal-dialog-scrollable"
  id="ExamenFisico"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="ExamenFisicoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ExamenFisicoLabel">Examen Fisico</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="p-3">
        <div class="modal-body">
          <div class="row">
            <div class="col-4 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="ta"
                  placeholder="TA"
                  aria-label="TA"
                  name="TA"
                />
                <label for="ta">TA</label>
              </div>
            </div>
            <div class="col-4 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="fc"
                  placeholder="FC"
                  aria-label="FC"
                  name="FC"
                />
                <label for="fc">FC</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="fr"
                  placeholder="FR"
                  aria-label="FR"
                  name="FR"
                />
                <label for="fr">FR</label>
              </div>
            </div>
            <div class="col-4 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="temperatura"
                  placeholder="Temperatura"
                  aria-label="Temperatura"
                  name="temperatura"
                />
                <label for="temperatura">Temperatura</label>
              </div>
            </div>
            <div class="col-4 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="altura"
                  placeholder="Altura"
                  aria-label="Altura"
                  name="alutra"
                />
                <label for="altura">Altura</label>
              </div>
            </div>
            <div class="col-4 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="peso"
                  placeholder="Peso"
                  aria-label="Peso"
                  name="altura"
                />
                <label for="peso">Peso</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="impresion_general"
                  placeholder="Impresión General"
                  aria-label="Impresión General"
                  name="impresion_general"
                />
                <label for="impresion_general">Impresión General</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="constitucion"
                  placeholder="Constitucion"
                  aria-label="Constitucion"
                  name="constitucion"
                />
                <label for="constitucion">Constitucion</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="facies"
                  placeholder="Facies"
                  aria-label="Facies"
                  name="facies"
                />
                <label for="facies">Facies</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="actitud"
                  placeholder="Actitud"
                  aria-label="Actitud"
                  name="actitud"
                />
                <label for="actitud">Actitud</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="decubito"
                  placeholder="Decubito"
                  aria-label="Decubito"
                  name="decubito"
                />
                <label for="decubito">Decubito</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="marcha"
                  placeholder="Marcha"
                  aria-label="Marcha"
                  name="marcha"
                />
                <label for="marcha">Marcha</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="button" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
