<!-- Modal -->
<div
  class="modal fade modal-dialog-scrollable"
  id="PielFaneras"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="PielFanerasLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="PielFanerasLabel">Piel, Faneras, Tejido Celular Subcutaneo</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="p-3">
        <div class="modal-body">
          <div class="row">
            <div class="col-6 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Aspecto"
                  id="floatingTextarea"
                  name="aspecto"
                ></textarea>
                <label for="floatingTextarea">Aspecto</label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Distribucion Pilosa "
                  id="floatingTextarea"
                  name="distribucionpilosa"
                ></textarea>
                <label for="floatingTextarea"> Distribucion Pilosa</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Lesiones "
                  id="floatingTextarea"
                  name="lesiones"
                ></textarea>
                <label for="floatingTextarea">Lesiones </label>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Faneras "
                  id="floatingTextarea"
                  name="faneras"
                ></textarea>
                <label for="floatingTextarea">Faneras </label>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder=" Tejido Celular Subcutaneo"
                  id="floatingTextarea"
                  name="t_c_subcutaneo"
                ></textarea>
                <label for="floatingTextarea">Tejido Celular Subcutaneo </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="button" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
